<mat-card class="exercise__task flex vert stretch marged">

  <div class="marged">
    <span>{{exercise.task}}</span>
  </div>
  <div>
    <span>{{exercise.etalon}}</span>
  </div>


  <textarea class="w100" [(ngModel)]="query" cols="30" rows="10"></textarea>
  <div class="buttons flex horiz just-end">
    <button mat-raised-button (click)="isAnswerShown=!isAnswerShown">Show Answer</button>
    <div class="grow"></div> 
    <button mat-button [routerLink]="['/exercise', exercise.nextlink]" >Skip</button>
    <button mat-raised-button color="accent" (click)="onQuerySubmit()">Submit</button>
  </div>

  <div *ngIf="isAnswerShown">
    {{exercise.etalon}}
  </div>
</mat-card>

<mat-card class="exercise__result flex vert stretch marged">

  {{results | json}}
  <!-- TODO: array -> table -->

</mat-card>