<div class="main__container fullscreen">
  <app-header></app-header>

  <div class="flex horiz stretch">
    <app-sidemenu class="main__sidebar"></app-sidemenu>

    <div class="main__content grow">
        <router-outlet></router-outlet>
    </div>
  
  </div>
</div>
