.main__container {
    display: flex;
    flex-direction: column;
  }
  
  .main__sidebar {
    width: 300px;
    height: 100vh;
    background-color: #42425C;
  }
  
  .main__content{
    background-color: #ccc;
  }