$primary-color: #465DEF;
$text-color-white: #FFFFFF;
$header-button-color: rgba(48, 70, 211, 0.69);

.header__container {
  background-color: $primary-color;
  min-height: 30px;
  height: 50px;
}

.header__spacer {
  flex: 1 1 auto;
}

.header__label,
.header_student_login {
  padding: 1rem;
  color:$text-color-white;
  font-size: 0.8rem;
}

.header__label {
  font-size: 1rem;
//  font-variant: all-small-caps;
}

.header__icon{
  color: $text-color-white;
}

.header_button_logout {
  background-color: $header-button-color;
  font-size: 0.7rem;
  color:$text-color-white;
  font-weight: bold;
}

.material-icons {
  vertical-align: middle;
}

@media only screen and (max-width: 480px) {
  .header__label {
    display: none;
  }
}