<mat-toolbar class="header__container">
  <mat-toolbar-row>
    <span class = "header__icon"><i class="material-icons">account_balance</i></span>
    <span class = "header__label">Віртуальна лабораторія ПІ</span>
    <span class = "header__spacer"></span>
    <div>
      <a>
      <button mat-flat-button class="header_button_logout" >
        <i class="material-icons header__icon">exit_to_app</i>
        Log out
      </button>
    </a>
  </div>
</mat-toolbar-row>
</mat-toolbar>