
@import 'scss/helpers.scss';
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$sql-exercises-primary: mat-palette($mat-indigo);
$sql-exercises-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$sql-exercises-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$sql-exercises-theme: mat-light-theme($sql-exercises-primary, $sql-exercises-accent, $sql-exercises-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($sql-exercises-theme);

/* You can add global styles to this file, and also import other style files */

/* You can add global styles to this file, and also import other style files */
body{
    font-family: Verdana, Geneva, sans-serif;
      font-size: 14px;
      background: #f2f2f2;
  }
  
  .fullscreen {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }